*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: hwb(0 98% 2%);
}
/* Part-A */
.main{
    display: flex;
    justify-content: space-between;
    padding: 45px 70px;
    border-bottom: 1px solid #e4e2e2;
}
.main .search{
    color: rgb(140, 139, 139);
} 
.main .search input:focus{
    outline: none;
}
.main .search input{
    border: none;
    padding: 7px 1px 7px 50px;
    position: relative;
    font-size: 20px;
    transform: translate(left);
}
.main .search i{
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 75px;
    font-size: 25px;
}
.main .name{
    border: 3px solid black;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: lighter;
    padding: 10px 15px;
    margin-right: 60px;
}
.main .icon-a{
    font-size: 20px;
    color: rgb(140, 139, 139);
    padding-right: 30px;
    padding-top: 10px;
}
.main .icon-a .fa-heart{ 
    margin-left: 15px;
    margin-right: 15px;
}
.main .icon-a span{
    color: white;
    font-size: 1px;
    border: 1px solid;
    border-radius: 50px 50px;
    padding: 4px 6px;
    background-color: #ba2be2;
    position: absolute;
    top: 41px;
    right: 86px;
}
/* End Part-A */
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 350px;
}    
.navbar a{
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 15px;
}
/* End Navbar */
.gray{
    background-color: #eeeeee;
    padding: 20px 80px;
    font-size: 15px;
}
.gray span{
    font-weight: lighter;
    font-size: 14px;
}
/* Part-B */
.all{
    margin: 50px 60px;
    display: flex;
    justify-content: space-between;
}
.up{
    border: 1px solid #e4e2e2 ; 
    padding: 20px 20px 30px;
}
.all .left-side .up h6{
    font-size: 15px;
    font-weight: lighter;
}
.word {
    margin-top: 10px;
}
.all .left-side{
    width: 20%;
}
.all .right-side{
    width: 75%;
}
.all .left-side .up p{
    font-size: 13px;
    font-weight: lighter;
    color: #ba2be2;
    line-height: 25px;
}
.all .left-side .up span{
    color: black;
    padding-left: 90px;
}
.all .left-side .up .s{
    padding-left: 115px;
}
.all .left-side .up .sp{
    padding-left: 95px;
}
.down{
    border: 1px solid #e4e2e2 ; 
    padding: 20px 20px 50px;
    margin-top: 25px;
}
.all .left-side .down .color{
    font-size: 15px;
    font-weight: lighter;
}
.all .left-side .down input{
    color: #ba2be2;
}
.all .down h6{
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.all .down span{
    font-size: 10px;
    color: rgb(101, 100, 100);
    font-weight: bold;
}
.right-side{
    padding: 40px 60px ;
}
.all .right-side .select{
    display: flex;
    justify-content: space-between;
}
.all .right-side .select h5{
    font-size: 20px;
    font-weight: lighter;
}
.all .right-side .prodect{
    display: flex;
    justify-content: space-between;
}
.all .right-side .tank{
    background-color: white;
    height: 45vh;
    text-align: center;
    margin-bottom: 40px;
}
.all .right-side h6{
    color: #ba2be2;
    font-size: 20px;
    margin-top: 35px;
    font-weight: lighter;
}
.all .right-side p{
    font-size: 15px;
    color: rgb(143, 141, 141);
    font-weight: lighter;
}
.all .right-side span{
    color: #ba2be2;
    font-size: 20px;
    font-weight: lighter;
}
.all .right-side .cloth{
    background-color: white;
    height: 45vh;
    text-align: center;
    margin-bottom: 40px;
}
.all .right-side .Shose{
    background-color: white;
    height: 45vh;
    text-align: center;
    margin-bottom: 40px;
}
.all .right-side .t-shirt{
    background-color: white;
    height: 45vh;
    text-align: center;
    margin-bottom: 40px;
}
.all .right-side .shirt{
    background-color: white;
    height: 45vh;
    text-align: center;
    margin-bottom: 40px;
}
/* End Part-B */
/* Part-C */
.cate .border{
    border-top: 3px solid #ba2be2;
    width: 40px;
    margin-left: 25%;
    margin-top: 70px;
}
.cate h1{
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}
.person{
    display: flex;
    justify-content: space-around;
    margin: 70px;
    padding: 0px 50px;
    color: white;
    position: relative;
    overflow: hidden;
}
.person .women .name-1{
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    top: 475px;
    left: 85px;
}
.person .women:hover{
    transform: scale(1.1);
    filter: brightness(80%);
}
.person .women{
    transition: all 0.6s;
}
.person .women .collec-1{
    position: absolute;
    top: 450px;
    left: 85px;
}
.person .children:hover{
    transform: scale(1.1);
    filter: brightness(80%);
}
.person .children{
    transition: all 0.6s;
}
.person .children .name-2{
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    top: 475px;
    left: 510px;
}
.person .children .collec-2{
    position: absolute;
    top: 450px;
    left: 510px;
}
.person .men:hover{
    transform: scale(1.1);
    filter: brightness(80%);
}
.person .men{
    transition: all 0.6s;
}
.person .men .name-3{
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    top: 475px;
    right: 375px;
}
.person .men .collec-3{
    position: absolute;
    top: 450px;
    right: 330px;
}
/* End Part-C */
/* footer */
.foot{
    display: flex;
    justify-content: space-around;
    margin: 60px 0px;
    line-height: 40px;
}
.foot p{
    color: rgb(143, 141, 141);
    font-weight: lighter;
    font-size: 13px;
}
.foot .adrees{
    color: rgb(87, 87, 87);
    font-weight: lighter;
    font-size: 13.5px;
}
.foot .email{
    color: rgb(87, 87, 87);
    font-weight: lighter;
    font-size: 13.5px;
}
.foot h6{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(68, 68, 68);
}
.foot .namber{
    color: rgb(143, 141, 141);
    font-weight: lighter;
    font-size: 13px;
}
.end{
    text-align: center;
    color: rgb(143, 141, 141);
    font-weight: lighter;
    font-size: 13px;
    margin: 100px 0px;
}
.foot a{
    text-decoration: none;
    color: #ba2be2;
}
.foot .column{
    display: flex;
    flex-direction: column;
}
.foot button{
    background-color: #ba2be2;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 3094.5px;
    right: 86.5px;
}
.foot input{
    padding: 7px 70px 13px 10px;
}
.foot .Info i{
    color: #ba2be2;
}
.foot .Info .fa-phone{
    margin-right: 7px;
}
.foot .Info .fa-envelope{
    font-size: 20px;
    margin-right: 7px;
}
.end a{
    text-decoration: none;
}
/* End footer */